.Carousal {
  position: relative;
  /* max-height: 120px;
    min-width: 300px; */
}
/* .carousel-img img {
  position: relative;
  height: 200px;
  width: 1200px;
  object-fit: cover;
} */
.carousel-img{
  height: 400px;
  object-fit: cover;
}
.carousel .thumb{
  max-height: 12px;
  max-width: 6px;
}
.next-icon{
    position: absolute;
    right: 1rem;
    top: 8rem;
    cursor: pointer;
    opacity: 0.2;
}
.prev-icon{
    position: absolute;
    left: 1rem;
    top: 8rem;
    cursor: pointer;
    opacity: 0.2;
}